@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');
html {
  background-color: rgb(171, 151, 205);
  font-family: 'Lato', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 80px 0 0 0;
}

.main {
  background-color: #f0f0f0;
  margin: 1rem 0;
  padding: 4rem 2rem;
  width: 85vw;
  /* height: 70vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  border-radius: 8px;
}